
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* Fondo principal: Negro P5 */
    background-color: #0D0D0D; 
    font-family: sans-serif;
    padding: 20px;
}

/* =======================================================
   EL CONTENEDOR MAESTRO (GRID)
   ======================================================= */
.gallery-grid {
    display: grid;
    
   
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 10px;
    grid-auto-flow: dense;

    gap: 15px; /* Espacio entre tarjetas */
}

/* =======================================================
   LAS TARJETAS (Piezas del Tetris)
   ======================================================= */
.card {
    
    background: #1A1A1A; 
    border-radius: 12px;
    overflow: hidden; 
    
    
    box-shadow: 0 4px 10px rgba(217, 35, 35, 0.25); 
    
  
    grid-row: span 26; 

    display: flex;
    flex-direction: column;
    
   
    color: white; 
}


.card-tall {
    grid-row: span 42; 
}


.card-wide {
    grid-column: span 2; 
    grid-row: span 26;
}


.card-big {
    grid-column: span 2;
    grid-row: span 42;
}


.card:hover {
    box-shadow: 0 4px 15px rgba(217, 35, 35, 0.7), 0 0 0 3px #D92323; 
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}

/* =======================================================
   LAS IMÁGENES (Solución al problema visual)
   ======================================================= */
figure {
    margin: 0;
    flex-grow: 1; 
    height: 100%; 
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.card-content {
    padding: 15px;
   
    color: #FAFAFA; 
}


.card-content h3 {
    color: #D92323; 
    margin-bottom: 0.5rem;
}


.card-content p {
    color: rgba(255, 255, 255, 0.7); 
}